{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Join More than 1000 People, Who Saved 98 % of Their Time By Shifting To Our Solution</title>
    <meta name="description" content="Unlock seamless logistics with our global shipment tracking services. Achieve 50% fewer tracking errors and monitor your deliveries effortlessly. Partner with us for accurate, secure, and fast shipping solutions.">
    <meta name="keywords" content="Global Shipment Tracking, Real-Time Shipping Updates, Secure Delivery Solutions, Fast and Reliable Logistics, Accurate Package Tracking, Cost-Effective Shipping Solutions, Effortless Shipment Monitoring, Transparent Delivery Process, Advanced Tracking Technology, Dependable Logistics Partner">
  

    <!-- Favicons -->

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com" rel="preconnect">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- vd CSS Files -->
    <link href="{% static 'vd/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'vd/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'vd/aos/aos.css' %}" rel="stylesheet">
    <link href="{% static 'vd/fontawesome-free/css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'vd/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
    <link href="{% static 'vd/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

    <!-- Main CSS File -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>

<body class="index-page">

    <!-- <header id="header" class="header d-flex align-items-center fixed-top">
        <div class="container-fluid container-xl position-relative d-flex align-items-center">

            <a href="{% url 'home' %}" class="logo d-flex align-items-center me-auto">
                <h1 class="sitename">RoyalBox</h1>
            </a>

            <nav id="navmenu" class="navmenu">
                <ul>
                    <li><a href="{% url 'home' %}" class="active">Home<br></a></li>
                    <li><a href="{% url 'home' %}#about">About</a></li>
                    <li><a href="{% url 'home' %}#services">Services</a></li>
                    <li><a href="{% url 'home' %}#call-to-action">Get Started</a></li>
                </ul>
                <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
            </nav>

            <a class="btn-getstarted" href="{% url 'receiver_info' %}">Get a Quote</a>

        </div>
    </header> -->

    <main class="main" >
        <section id="hero" class="section dark-background p-3" style="height: 100vh;">
            <div class="d-flex align-items-center justify-content-center p-md-5">
                <div class="container bg-white mt-5 p-3 rounded" style="max-width: 600px;">
                    {% block content %}
                    <div class="row">
                        <div class="col">
                            <img src="{% static 'img/service-1.jpg'%}" alt="" style="width: 100%; height: 100%;">
                        </div>
                        <div class="p-4 col-md-5">
                            {% if messages %}
                            <div class="text-danger">
                                {% for message in messages %}
                                <p>{{message}}</p>
                                {% endfor %}
                            </div>
                            {% endif %}
                            <h3>Registration Form</h3>
                            <hr>
                            <form action="{% url 'register_customer'%}" method="POST">
                                {% csrf_token %}
                                <div class="form-group mb-3">
                                    {{form.email}}
                                </div>
                                <div class="form-group mb-3">
                                    {{form.full_names}}
                                </div>
                                <div class="form-group mb-3">
                                    {{form.location}}
                                </div>
                                <div class="form-group mb-3">
                                    {{form.password1}}
                                </div>
                                <div class="form-group mb-3">
                                    {{form.password2}}
                                </div>
                                <input type="submit" name="register" value="Signup" class="btn btn-outline-primary">
                            </form>

                            <p class="fw-light py-2">Already have an account ? Login <a
                                    href="{% url 'login' %}">here!</a></p>
                        </div>
                    </div>
                </div>
                {% endblock %}
            </div>
            </div>
        </section>
    </main>

    <!-- Scroll Top -->
    <a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
            class="bi bi-arrow-up-short"></i></a>

    <!-- vd JS Files -->
    <script src="{% static 'vd/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'vd/php-email-form/validate.js' %}"></script>
    <script src="{% static 'vd/aos/aos.js' %}"></script>
    <script src="{% static 'vd/purecounter/purecounter_vanilla.js' %}"></script>
    <script src="{% static 'vd/glightbox/js/glightbox.min.js' %}"></script>
    <script src="{% static 'vd/swiper/swiper-bundle.min.js' %}"></script>

    <!-- Main JS File -->

</body>

</html>